<%- include("../partials/header") %>


<h1 class="text-center">Create a new campground</h1>

<!-- <form action="/campgrounds" method="POST" enctype="multipart/form-data"> -->
<form action="/campgrounds" method="POST">
	<div class="form-group row">
		<label class="col-md-2 col-form-label">Name:</label>
		<div class="col-md-4">
			<input class="form-control" name="campground[name]" type="text" placeholder="name" autofocus required>
		</div>
		<label class="col-md-2 col-form-label">Price / Night:</label>
		<div class="col-md-4">
			<input class="form-control" name="campground[price]" type="number" placeholder="price" min="0.00" step="0.01">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-md-2 col-form-label" for="iamge_url">Image URL:</label>
		<div class="col-md-4">
			<input class="form-control" id="image_url" name="campground[image]" type="text" placeholder="image url">
		</div>
		<label class="col-md-2 col-form-label" for="image_upload">Image Upload:</label>
		<div class="col-md-4">
			<input class="form-control" name="image_upload" id="image_upload" type="file" accept="image/*">
		</div>
	</div>

	
	<div class="form-group row">
		<label class="col-md-2 col-form-label">Location:</label>
		<div class="col-md-10">
			<input class="form-control" type="text" name="campground[location]" id="location" placeholder="Yosemite National Park, CA">
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-md-2 col-form-label">Description:</label>
		<div class="col-md-10">
			<textarea class="form-control" name="campground[description]" rows="10" placeholder="description"></textarea>
		</div>
	</div>

	<div class="form-group row">
		<input type="submit" class="btn btn-md btn-info btn-block" value="Submit">

	</div>
</form>


<%- include("../partials/footer") %>